.aboutMe-bgImg {
    width: 100%;
    position: absolute;
    height: 100vh;
    max-height: 900px;
    overflow: hidden;
    img {
        height: 100%;
    }
}
.aboutMe-container {
    padding: 0px 0px 0px 0px;
    // min-height: 700px;
    .aboutMe {
        &__content {
            padding-top: 80px;
            h1 {
                color: papayawhip;
                font-size: 30px;
                margin-bottom: 40px;
            }
        }
        &__profImg {
            padding: 15px 15px !important;
            img {
            max-width: 330px;
            width: 100%;
            image-orientation: from-image !important;
            }
        }
        &__details {
            text-align: left;
            padding: 15px 150px 15px 15px !important;
            color: #d9e8ff;
            font-size: 17px !important;
            p {
                font-size: 17px !important;
                span {
                        color: #5b86ff !important;
                    }
                }
        }
        &__cv {
            transition: background-color 0.5s;
            font-weight: bold;
            border: 1px solid #ff5722b8;
            background-color: transparent;
            padding: 10px;
            border-radius: 10px;
            margin-top: 10px;
            a{
                transition: color 0.5s;
                color: #ff5722b8 !important;
                text-decoration: none;
            }
        }
        &__cv:hover {
            transition: background-color 0.5s;
            background-color: #ff5722b8;
            a {
                transition: color 0.5s, font-weight 0.5s;
                color: black !important;
            }
        }
        &__socialMediaLinks {
            margin-top: 25px;
            > i {
                margin-right: 30px;
                font-size: 30px;
            }
        }
    }
  
}