*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
$skillBarHeight : 14px;
.skillBar-container{
    font-size: 12px !important;
    margin: 50px auto;
    width: 60%;
    &__progressBar{
        position: relative;
        width: 100%;
        height: $skillBarHeight;
        margin-bottom: 27px;
        border-radius: 5px;
        box-shadow: 0 1px 2px #222;
    }
    &__title{
        height: $skillBarHeight;
        font-weight: bold;
        color: #00354a;
    }
    &__progressValue{
        position: relative;
        float: right;
        padding-right: 10px;
        font-weight: bold;
        font-size: 12px;
        color: #455a64;
        z-index: 10000;
    }
    &__progress{
        height: $skillBarHeight;
        border-radius: 5px;
        box-shadow: 2px 0 2px #555;
    }
}


@media (max-width: 720px) {
    .main{
        width: 90%;
    }
}