.resumeBuild-container {
    div,span, h1, h2,h3,h4,h5,h6,p,a
    {
       margin: 0;
       padding: 0;
       border: 0;
       font-size: 100%;
       font: inherit;
       vertical-align: baseline;
     }
     body {
       line-height: 1;
     }
     ol,ul {
       list-style: none;
     }
  line-height: 20px;

  font-family: "Arimo" !important;
  width: 990px;
  margin: auto;
  padding: 30px;
  border: 1px solid lightgray;
  background: white;
  .resumeBuild {
    &__heading {
      font-weight: 800 !important;
      font-size: 40px !important;
      line-height: 1.1em;
      color: #002e58;
    }
    &__title {
      line-height: 1.1em;
      color: #002e58;
      margin-top: 5px;
      font-size: 20px !important;
      font-weight: 400;
    }
    &__introduction {
      font-size: 15px !important;
      margin-top: 8px;
    }
    &__sections {
      .left-sections {
        width: 70%;
        // height: 1231px;
        display: inline-block;
        min-height: inherit;
        vertical-align: top;
        padding-right: 2rem;
        .experience, .education, .hackathon, .certificates {
          margin-top: 10px;
          h3 {
            color: #002e58;
            font-size: 22px;
            font-weight: bold;
            border-bottom: 1px solid #d5d6d6;
            padding-bottom: 10px;
          }
          p {
            color: #343434;
          }
          &__division {
            min-width: 100%;
            margin-top: 7px;
            display: inline-flex;
          }
          &__year {
            > p {
              font-weight: bold;
            }
            width: 20%
          }
          &__project {
            width: 80%;
             &__jobTitle {
              font-weight: bold;
              font-size: 17px;
            }
            &__companyName {
              font-style: italic;
              font-size: 14px;
              text-transform: capitalize;
            }
            &__technologyTitle {
              font-weight: bold;
              text-decoration: underline;
              font-size: 14px;
            }
            &__projectDescription {
              font-size: 14px;
            }
            &__responsibilities {
              font-weight: bold;
              font-size: 15px;
            }
            &__responsibilityList {
              font-size: 14px;
              list-style: initial;
              margin-bottom: 15px;
              margin: 0px;
              padding-left: 15px;
              li {
                font-size: 13px;
                margin: 0px;
                padding: 0px;
              }
            }
          }
        }
      }
    }
  }
}
